@using Microsoft.Extensions.Options
@using bodyline_sports.Models
@using bodyline_sports.Options
@using bodyline_sports.Services

@inject IFacebook facebookService
@inject IOptions<FacebookOptions> options

<div class="p-2 text-center [grid-area:about]">
    <a href="/"><img src="/bodyline-sports-logo.jpg" alt="logo"></a>
    <p class="pt-2">@(Group?.Description)</p>
</div>

@code {
    private Group? Group {get; set;}

    protected override async Task OnInitializedAsync()
    {
        Group = await facebookService.GetGroup(options.Value.GroupId);
    }
}    
