@using bodyline_sports.Models
@using bodyline_sports.Services
@inject IFacebook facebookService

<div class="p-2 text-center">
    <h1 class="text-2xl font-bold">Bodyline Sports</h1>
    <p class="pt-2">@(Group?.Description)</p>
</div>

@code {
    private Group? Group {get; set;}

    protected override async Task OnInitializedAsync()
    {
        Group = await facebookService.GetGroup("2430494963811548");
    }
}    

