<div class="p-2 text-center">
    <h1 class="text-2xl font-bold">Bodyline Sports</h1>
    <p class="pt-2">Racquet specialist carrying a large range of brands and associated products, Mizuno footwear is the preferred brand, we are also stringing specialist of all racquet sports</p>
</div>
