@using Azure.Data.AppConfiguration
@using Azure.Identity
@using bodyline_sports.Models
@using bodyline_sports.Options
@using bodyline_sports.Services

@inject IFacebook facebook
@inject ILogger<AccessTokenAdmin> logger

<h2 class="font-semibold">Access token</h2>
<div>
    <p class="text-sm text-gray-400 p-2.5">Access token will expire on @(ExpiresAt?.LocalDateTime.ToString() ?? "🤷‍♂️")
    </p>
    <div class="relative">
        <button type="button" @onclick="OnGenerateNewToken"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Generate
            new token</button>
    </div>
</div>

@code {
    [Parameter]
    public required string UserAccessToken { get; set; }

    [Parameter]
    public required string LongLivedAccessToken { get; set; }

    [Parameter]
    public required DateTimeOffset? ExpiresAt { get; set; }

    [Parameter]
    public required Uri AppConfigurationEndpoint { get; set; }

    private async Task OnGenerateNewToken()
    {
        const string AccessTokenKey = $"{nameof(FacebookOptions)}:AccessToken";
        
        LongLivedAccessToken = await facebook.ExchangeForLongLivedToken(UserAccessToken);
        ExpiresAt = (await facebook.GetTokenDetails(LongLivedAccessToken, UserAccessToken)).Data.ExpiresAt;

        var client = new ConfigurationClient(AppConfigurationEndpoint, new DefaultAzureCredential());
        await client.SetConfigurationSettingAsync(new ConfigurationSetting(AccessTokenKey, LongLivedAccessToken));
    }
}