<div class="p-2 flex flex-col gap-y-1 justify-center">
    <p class="flex gap-x-2">
        <span class="material-symbols-sharp">mail</span>
        <a href="mailto:richard@bodylinesports.com.au">richard@bodylinesports.com.au</a>
    </p>
    <p class="flex gap-x-2">
        <span class="material-symbols-sharp">call</span>
        <a href="tel:0262306353">(02) 6230 6353</a>
    </p>
    <p class="flex gap-x-2">
        <span class="material-symbols-sharp">home</span>
        <span>79 Dickson Place, Dickson, Canberra, ACT, 2602</span>
    </p>
    <p class="flex gap-x-2">
        <svg class="fill-facebook" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
            <rect fill="none" height="24" width="24"/>
            <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/>
        </svg>
        <a href="https://www.facebook.com/groups/2430494963811548">Bodyline sports</a>
    </p>
</div>    
