@using Microsoft.Extensions.Options
@using bodyline_sports.Models
@using bodyline_sports.Options
@using bodyline_sports.Services
@inject IFacebook facebookService
@inject IOptions<FacebookOptions> options

@foreach (var post in Posts)
{
    <div class="p-2 m-2 bg-white rounded-xl shadow-md w-fit mx-auto">
        <p>@((MarkupString?)(post.Message?.Replace("\n", "<br />") ?? string.Empty))</p>
        <img alt="post image" src="@(post.PictureUrl)" class="mx-auto pt-2" />
    </div>
}

@code {
    private Post[] Posts { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var group = await facebookService.GetGroup(options.Value.GroupId);
        if (group is not null)
        {
            Posts = await facebookService.GetGroupPosts(group);
        }
    }
}