@using Microsoft.Extensions.Options
@using bodyline_sports.Models
@using bodyline_sports.Options
@using bodyline_sports.Services
@inject IFacebook facebookService
@inject IOptions<FacebookOptions> options

@foreach (var post in Posts)
{
    <article class="p-2 bg-white rounded-xl shadow-md basis-4/5 shadow-black h-min">
        <p class="text-xs">@post.UpdatedDateTime.LocalDateTime.ToString(@"dd MMMM \a\t HH:mm")</p>
        <p class="pt-1">@((MarkupString?)(post.Message?.Replace("\n", "<br />") ?? string.Empty))</p>
        <a href="@(post.Attachments.Data[0].Media.Image.Src)" target="_blank">
            <img alt="post image" src="@(post.Attachments.Data[0].Media.Image.Src)" class="mx-auto pt-2" />
        </a>
    </article>
}

@code {
    private Post[] Posts { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var group = await facebookService.GetGroup(options.Value.GroupId);
        if (group is not null)
        {
            Posts = await facebookService.GetGroupPosts(group);
        }
    }
}