@using Microsoft.Extensions.Options
@using bodyline_sports.Models
@using bodyline_sports.Options
@using bodyline_sports.Services

@inject IFacebook facebookService
@inject IOptions<FacebookOptions> options

<div class="[grid-area:logo]">
    <img class="h-full" alt="logo" referrerpolicy="origin-when-cross-origin" src="@(Group?.Cover.Source)">
</div>    

@code {
    private Group? Group {get; set;}

    protected override async Task OnInitializedAsync()
    {
        Group = await facebookService.GetGroup(options.Value.GroupId);
    }
}
