@inherits LayoutComponentBase
<script>
    tailwind.config = {
        theme: {
            colors: {
                facebook: '#0866FF'
            }
        }
    }
</script>

<div class="grid h-screen grid-rows-[auto_1fr_auto]">
    <header class="grid gap-x-4 border-b-2 border-black [grid-template-areas:'about_logo_contact'] grid-cols-[1fr_1fr_auto]">
        <div class="[grid-area:about] p-2 text-center">
            <h1 class="text-2xl font-bold">Bodyline Sports</h1>
            <p class="pt-2">Racquet specialist carrying a large range of brands and associated products, Mizuno footwear is the preferred brand, we are also stringing specialist of all racquet sports</p>
        </div>
        <div class="[grid-area:logo]">
            <img class="h-full" alt="logo" referrerpolicy="origin-when-cross-origin" src="https://scontent.fsyd10-2.fna.fbcdn.net/v/t39.30808-6/279078846_971113876875210_3357291588387989022_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=5f2048&amp;_nc_ohc=5O37bKqrW_YQ7kNvgEPoK6X&amp;_nc_ht=scontent.fsyd10-2.fna&amp;cb_e2o_trans=q&amp;oh=00_AYChjfUQ0yPlCV6fwosEesezzFynoBUEYyPp-jdhl8hQ7A&amp;oe=666A1707">
        </div>    
        <div class="[grid-area:contact] p-2 flex flex-col gap-y-1 justify-center">
            <p class="flex gap-x-2">
                <span class="material-symbols-sharp">mail</span>
                <a href="mailto:richard@bodylinesports.com.au">richard@bodylinesports.com.au</a>
            </p>
            <p class="flex gap-x-2">
                <span class="material-symbols-sharp">call</span>
                <a href="tel:0262306353">(02) 6230 6353</a>
            </p>
            <p class="flex gap-x-2">
                <span class="material-symbols-sharp">home</span>
                <span>79 Dickson Place, Dickson, Canberra, ACT, 2602</span>
            </p>
            <p class="flex gap-x-2">
                <svg class="fill-facebook" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24">
                    <rect fill="none" height="24" width="24"/>
                    <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/>
                </svg>
                <a href="https://www.facebook.com/groups/2430494963811548">Bodyline sports</a>
            </p>
        </div>    
    </header>
    <main>
        @Body
    </main>
    <footer class="border-t-2 border-black">
    footer
    </footer>
</div>