@page "/"

<PageTitle>Home</PageTitle>

<div class="grid grid-cols-[10rem_1fr_10rem] [grid-template-areas:'._main_.']">
    <article class="[grid-area:main] text-center">
    facebook feed goes here
    </article>
</div>
