@page "/"
@using bodyline_sports.Components.Components

<PageTitle>Bodyline Sports</PageTitle>

<div class="grid grid-cols-[10rem_1fr_10rem] [grid-template-areas:'._main_.']">
    <article class="[grid-area:main] bg-slate-100 p-4">
        <FacebookPosts />
    </article>
</div>
